fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
cryptography
python-multipart
pydantic
pydantic-settings
authlib
itsdangerous
starlette
httpx
python-dotenv
ibm-db 
ibm-db-sa
packaging
pydantic[email]
